body {
    margin: 0;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    background-color: #fafafa;
}

.language-switch {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.language-switch span {
    cursor: pointer;
    color: lightgrey;
}

.language-switch span.active {
    color: #333;
}

.language-switch span:hover {
    color: #333;
}

#content {
    margin-top: 20px;
    background-color: dodgerblue;
    height: 5vh;
    justify-content: end;
    align-items: end;
}

#content p {
    font-size: 1.25rem;
    padding-left: 0.25rem;
    color: white;
}

.cn-text {
    display: block;
    font-family: 'Noto Sans SC', sans-serif;
}

.en-text {
    padding-top: 0.2rem;
    display: none;
}

.container {
    height: 20vh;
    background-color: aliceblue;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.item {
    margin: 5px;
    background-color: lightgray;
    padding: 10px;
    /* transition: background-color 0.25s, color 0.25s; */
}

.item:hover {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}


.gradient-text {
    background: linear-gradient(to right, purple, pink, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}