body {
    margin: 0;
    background-color: black;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 56vw;
    margin: auto auto;
}

.line > p {
    font-family: sans-serif;
    color: antiquewhite;
    font-size: 8vw;
    margin: 0em;
    text-transform: uppercase;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}