body {
    height: 98vh;
    margin: 2vh;
    margin-bottom: 0;
    background-color: #202124;
    font-family: 'Barlow', sans-serif;
}

#container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    transition: gap ease 0.5s;
}

#main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;
}

#main > a {
    position: relative;
    border-radius: 1.5vh;
    overflow: hidden;
    transition: ease 0.25s;
}

#main > a.hovered {
    width: 150%;
}

#main > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
    transition: scale ease 0.5s;
    scale: 1;
}

#main > a.hovered > img {
    scale: 1.05;
}

#main > a > .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    transition: opacity ease 0.75s;
    opacity: 0%;
}

#main > a.hovered > .layer {
    opacity: 40%;
}

#main > a > .text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    color: white;
    transition: opacity ease 0.75s;
    opacity: 0%;
}

#main > a.hovered > .text-layer {
    opacity: 100%;
}

.panel {
    width: 0%;
    transition: width 0.4s ease;
    display: flex;
}

.fill {
    width: 100%;
    background-color: white;
    border-radius: 1.5vh;
}

.placeholder {
    width: 2vh;
}

.show-right-panel #right {
    width: 25%;
}

.show-left-panel #left {
    width: 25%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
}

#name {
    color: white;
    color: hsl(225, 6%, 60%);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

#name:hover {
    color: red;
}

#button {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}

#button:hover {
    background-color: aliceblue;
}

#circle-group {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    gap: 1.5vh;
}

#footer .circle {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: white;
}