body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100vw;
  height: 110px;
  background-color: rgb(245, 224, 80);
  position: absolute;
  top: 0;
}

.footer {
  width: 100vw;
  height: 110px;
  background-color: rgb(245, 224, 80);
  position: absolute;
  bottom: 0;
}

canvas {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%) scale(1);
  bottom: 100%;
  transform: translate(-50%, 100%) scale(1);
}
