:root {
    --red: hsl(338, 95%, 65%);
    --purple: hsl(261, 95%, 75%);
    --orange: hsl(25, 100%, 70%);
    --blue: hsl(210, 100%, 70%);
    --white: hsl(0, 0%, 85%);
    --black: hsl(0, 0%, 12%);
}
