:root {
    --transition-time: 250ms;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    font-family: 'Barlow', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word {
    font-weight: 600;
    font-size: 2em;
    margin: 0.5em;
    opacity: 0;
    transition: opacity var(--transition-time);
}

.fancy {
    opacity: 1;
    color: black;
    transition: color var(--transition-time);
}

.fancy:hover {
    color: red;
}
