body {
    margin: 0;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    background-color: #fafafa;
}

.language-switch {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 10px;
}

.language-switch span {
    cursor: pointer;
    color: #ddd;
}

.language-switch span.active,
.language-switch span:hover {
    color: #333;
}

#content {
    margin-top: 1rem;
    height: 1.5rem;
    background-color: dodgerblue;
}

#content p {
    font-size: 1.3rem;
    color: white;
    line-height: 1;
    margin: 0;
}

.cn-text {
    display: block;
    font-family: 'Noto Sans SC', sans-serif;
}

.en-text {
    display: none;
}

.container-items {
    height: 20vh;
    background-color: aliceblue;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.item {
    margin: 5px;
    background-color: hsl(210, 15%, 90%);
    padding: 10px;
    /* transition: background-color 0.25s, color 0.25s; */
}

.item:hover {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}