body {
    background-color: aliceblue;
    margin: 2em;
    gap: 2em;
    display: grid;
    place-items: center;
}

.container {
    width: 80vw;
    gap: 2em;
    display: grid;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    border-radius: 2em;
    background-color: antiquewhite;
}

.img-container img {
    border-radius: 2em;
}

.one img {
    max-width: 100%;
}

.two img {
    max-width: calc((100% - 2em) / 2);
}

.three img {
    max-width: calc((100% - 4em) / 3);
}