* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0;
    background-color: #111;
    color: #fff;
    font-family: 'Overpass', sans-serif;

    display: grid;
    place-items: center;
    height: 100vh;
}

code,
pre {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 0.8rem;
    line-height: 1.5;
    overflow: auto;
    margin: 0;
    border-radius: 1em;
}

.hljs {
    display: block;
    overflow: auto;
    padding: .4em .8em;
}