body {
    height: 100vh;
    margin: 0;
}

#tip {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    left: 10vw;
    transition: left 0.75s;
}

.blue {
    background-color: blue;
    top: 10vh;
}

.red {
    background-color: red;
    bottom: 10vh;
    transition-timing-function: ease-in-out;
}

.circle span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
