body {
	background-color: #FFFFFF;
	margin: 0;
}

#wrapper {
	width: 980px;
	background-color: #FFFFFF;
	position: relative;
	margin: auto;
}

#header {
	height: 200px;
	background-color: #FFF5B7;
	position: relative;
}

#mainNav {
	width: 25%;
	height: 450px;
	background-color: #B8FFBA;
	position: relative;
	float: left;
}

#content {
	width: 75%;
	height: 450px;
	background-color: #A4EFFF;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

#footer {
	height: 100px;
	background-color: #C589FF;
	position: relative;
}