:root {
    --footer-height: 10vh;
    --body-margin: 5vh;
    --main-gap: 2.5vh;
}

body {
    margin: var(--body-margin);
    margin-bottom: 0;
    height: calc(100vh - var(--body-margin));
}

#container {
    height: calc(100vh - var(--body-margin) - var(--footer-height));
    overflow-y: scroll;
}

#main {
    gap: var(--main-gap);
}

.line {
    height: calc((100vh - var(--body-margin) - var(--footer-height) - var(--main-gap)) / 2);
    gap: var(--main-gap);
}

#footer {
    height: var(--footer-height)
}

.placeholder {
    width: var(--main-gap);
}