.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title {
    color: hsl(338, 95%, 65%);
}

.hljs-comment {
    color: hsl(0, 12%, 50%)
}

.hljs-addition,
.hljs-built_in,
.hljs-literal,
.hljs-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-title,
.hljs-type {
    color: hsl(261, 95%, 75%)
}

.hljs-string,
.hljs-attribute,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-meta,
.hljs-regexp,
.hljs-subst,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: hsl(25, 100%, 70%)
}