body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.container img {
    width: 33.33%;
    height: 100vh;
    object-fit: cover;
    transition: width 0.3s ease;
}

.container img:hover {
    width: 50%;
}

.container img:not(:hover) {
    width: 25%;
}