body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.image {
    width: 33.33%;
    height: 100vh;
    object-fit: cover;
    /* Crop the image to fit the container */
    transition: width 0.3s ease;
}

.image:hover {
    width: 50%;
}

.image:not(:hover) {
    width: 25%;
}