.hljs {
    background-color: hsl(210, 5%, 95%);
    color: #222;
}

.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title {
    color: hsl(210, 100%, 40%);
}

.hljs-comment {
    color: hsl(212, 12%, 50%);
}

.hljs-addition,
.hljs-built_in,
.hljs-literal,
.hljs-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-tag,
.hljs-title,
.hljs-type {
    color: hsl(210, 100%, 40%);
}

.hljs-attribute,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-meta,
.hljs-regexp,
.hljs-subst,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: hsl(210, 100%, 40%);
}
